<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="isSearch" content="true" />
    <title>$space.name - $page.title</title>
</head>
<body>
<div id="quick-search-results">
    <ul>
        #foreach($result in $searchResults.items)
            <li n="$velocityCount" class="search-result">
                <a href="$result.link">$result.displayTitle</a>
            </li>
        #end
    </ul>
</div>
</body>
</html>