<div id="ht-sidebar-dragbar">
    <div class="ht-sidebar-drag-handle">
        <span class="drag-handle-1"></span>
        <span class="drag-handle-2"></span>
        <span class="drag-handle-3"></span>
    </div>
</div>
<article class="ht-content ht-error-page">
    <header class="ht-content-header">
        <p></p>
    </header>
	<div class="ht-error-message" style="text-align: center;">
      #if ($statusCode == 404)
    	<h1>Four<wbr><span class="ht-error-page-scream">oh!</span><wbr>Four</h1>
      	<h3>Sorry, the page you're looking for cannot be found!</h3>
      #else
      	<h1>$statusCode</h1>
      	<h3>Sorry, an error occured!</h3>
      #end
  	
      <div class="ht-error-page-search">
        #if ($stringUtils.isEmpty($alternativeUrl))
        <p>Please visit the <a href="$home.link">homepage</a> or try <a id="ht-error-search-button" href="">searching</a>.</p>
        #else
        <p>Please try this <a href="$alternativeUrl">page</a> or visit the <a href="$home.link">homepage</a> or try <a id="ht-error-search-button" href="">searching</a>.</p>
        #end
      </div>     

	</div>
</article>


