<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
<meta name="generator" content="Created with Scroll Viewport - K15t">
<meta name="ajs-page-id" content=$page.id>
<meta name="spaceKey" content="$viewport.repository.key"/>
#if ($repository.scrollSearch)
<meta name="scrollSearch" content="$repository.scrollSearch.isEnabled"/>
#end
<meta name="searchQuery" content="$!userQuery"/>

<script>
    var contextPath = '$contextPath';
</script>

## Includes web panels from location 'k15t.scroll-viewport.viewcontent'
$webPanels

## Confluence meta information
$page.resources.meta

## Confluence JS information
$page.resources.js

## Setup custom jQuery instance for theme JS files:
<script type="text/javascript" src="${theme.baseUrl}/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="${theme.baseUrl}/assets/js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="${theme.baseUrl}/assets/js/jquery.scroll-tree.js"></script>
<script type="text/javascript" src="${theme.baseUrl}/assets/js/translate.js"></script>
<script type="text/javascript" src="${theme.baseUrl}/assets/js/scroll-tree.js"></script>
<script type="text/javascript" src="${theme.baseUrl}/assets/js/scroll-search.js"></script>
<script type="text/javascript" src="${theme.baseUrl}/assets/js/theme.main.js"></script>
## Restore jQuery from Confluence $page.resources:
<script type="text/javascript">var jQuery_theme = jQuery.noConflict(true);</script>


## Confluence ctx information
$page.resources.requireForContext('viewcontent')

## Confluence inline tasks information
$page.resources.require('com.atlassian.confluence.plugins.confluence-inline-tasks:inline-tasks-styles')

## Confluence CSS information
$page.resources.css

## Default Theme Stylesheets
<link rel="stylesheet" href="${theme.baseUrl}/assets/css/theme.main.css">
<link rel="stylesheet" href="${theme.baseUrl}/assets/css/theme.colors.css">
