<div id="ht-sidebar-dragbar">
    <div class="ht-sidebar-drag-handle">
        <span class="drag-handle-1"></span>
        <span class="drag-handle-2"></span>
        <span class="drag-handle-3"></span>
    </div>
</div>

<article class="ht-content">
    <header class="ht-content-header">
        $include.template("/include/include-breadcrumb.vm")
        <h1>$page.title</h1>
    </header>
    <div id="content" class="page">
        <div id="main-content" class="wiki-content">
            $page.content
        </div>
  	</div>

</article>