<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>$space.name - $page.title</title>

    $include.template("/include/include-htmlhead.vm")

</head>
<body pageid="$page.id">
<div id="ht-loader"></div>
    $include.template("/include/include-headerbar.vm")
    $include.template("/include/include-sidebar.vm")

<div id="ht-wrap-container">
    $include.template("/include/include-error.vm")
    $include.template("/include/include-footer.vm")
</div>


<div>
    <div id="ht-mq-detect"></div>
</div>
</body>
</html>