#if($renderStart)
    <div ${idAttribute} class="confbox admonition admonition-${element.type}#if (!$element.DisplayIcon) has-no-icon#end">
        #if($element.title)
            <p class="title">$stringEscapeUtils.escapeHtml($element.title)</p>
        #end
        #if ($element.DisplayIcon)
            <span class="admonition-icon confluence-information-macro-icon"></span>
        #end
        <div class="admonition-body">
#else
        </div>
    </div>
#end