#if ($renderStart)
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>$stringEscapeUtils.escapeHtml($element.Title) - $stringEscapeUtils.escapeHtml($space.name)</title>

    #if ($context.exportMode == "single-page")
        <link rel="stylesheet" href="assets/css/theme.toc.css">
    #end

    <link rel="stylesheet" href="assets/css/expand-macro.css">

    #parse("com/k15t/scroll/scroll-webhelp-theme/scroll-html/include/include-htmlhead.vm")

    #if ($context.BuildSearchIndex)
        <!-- ES5 support for older browsers, needed by lunr -->
        <script src="js/augment.js"></script> ##TODO maybe this can be dropped, if no old browsers (IE) need to be supported

        <script id="worker" type="javascript/worker">

        startIndex = function() {
            idx = lunr.Index.load(lunrIndex);
            idx.pipeline.remove(lunr.stopWordFilter);
            postMessage({type: "setup-complete"});
        }

        onmessage = function (event) {
            var message = event.data;

            if ((message.type === 'setup') && message.baseUrl) {
                var url = message.baseUrl;
                importScripts(url + 'js/lunr.js');
                importScripts(url + 'js/lunr-extras.js');
                importScripts(url + 'js/lunr-index.js');
                importScripts(url + 'js/lunr-data.js');
                startIndex();
            }

            if (idx && (message.type === 'search-request') && message.query) {
                var searchWord = message.query;
                var results = idx.search(searchWord).map(function (result) {
                    return lunrData.filter(function (d) {
                        return d.id === parseInt(result.ref, 10)
                    })[0]
                });
                postMessage({type: 'search-results', results: results, query: searchWord, queryId: message.queryId});
            }
        }

    </script>
    #end
</head>

<body incorrectpageid="$page.getId()" pageid="$element.getPageId()">

<div id="ht-loader">
    <noscript>
        <p style="width: 100%; text-align:center; position: absolute; margin-top: 200px;">This content cannot be displayed without JavaScript.<br>Please enable JavaScript and reload the page.</p>
    </noscript>
</div>

<div>
   	#parse("com/k15t/scroll/scroll-webhelp-theme/scroll-html/include/include-headerbar.vm")
</div>

<div id="ht-wrap-container">

    ## ----------------------------------------------------------------------------------------------------------------------------------
    ## Represents include-content.vm in viewport from here
    ## ----------------------------------------------------------------------------------------------------------------------------------
   

    <div class="container">
        <div class="ht-layout">
            <div class="ht-layout-sidebar">
                #parse("com/k15t/scroll/scroll-webhelp-theme/scroll-html/include/include-sidebar.vm")
            </div>
            <div class="ht-layout-main">
            <article id="ht-content" class="ht-content">
                <header class="ht-content-header">
                    #parse("com/k15t/scroll/scroll-webhelp-theme/scroll-html/include/include-breadcrumb.vm")
                    <h1 $idAttribute> #*
                    *##foreach ($annotation in $element.Annotations)#*
                        *##if ($annotation.Class.Name == "com.k15t.scroll.core.model.annotation.BookmarkAnnotation")#*
                            *#<span id="${annotation.BookmarkId}" class="scroll-bookmark"></span>#*
                        *##end#*
                        *##if ($annotation.Class.Name == "com.k15t.scroll.core.model.annotation.AnchorAnnotation")#*
                            *#<span id="${annotation.AnchorId}" class="confluence-anchor-link"></span>#*
                        *##end#*
                    *##end#*
                    *#<span>$stringEscapeUtils.escapeHtml($element.Title)</span></h1>
                </header>
                <div id="content" class="page">
                    <div id="main-content" class="wiki-content sp-grid-section" data-index-for-search="true">
#else
                    </div>
                </div>
                    <footer class="ht-content-footer">                
                        <div id="feedback-link-container">
                            <a href="#top" id="back-to-top">
                                <span class="icon-chevron-up"></span>
                                <span class="sr-only">Go back to top</span>
                            </a>
                        </div>   
                    </footer>
                </div>
            </article>
        </div>
    </div>

    #if ($context.ExportMode == "default")
       ## #parse("com/k15t/scroll/scroll-webhelp-theme/scroll-html/include/include-post-navigation.vm")
    #end

    ## ----------------------------------------------------------------------------------------------------------------------------------
    ## End of include-content.vm in viewport
    ## ----------------------------------------------------------------------------------------------------------------------------------

    #parse("com/k15t/scroll/scroll-webhelp-theme/scroll-html/include/include-footer.vm")
</div>

<div>
    <div id="ht-mq-detect"></div>
</div>

## #parse("com/k15t/scroll/scroll-webhelp-theme/scroll-html/include/include-cookiebanner.vm") TODO
#parse("com/k15t/scroll/scroll-webhelp-theme/scroll-html/include/include-bodyendscripts.vm")
<script type="text/javascript" src="assets/js/theme.lightbox.js"></script>

#if ($context.BuildSearchIndex)
    <script src="js/lunr.js"></script>
    <script src="js/lunr-extras.js"></script>
    <script src="assets/js/scroll-search.js"></script>
#end

    <script src="assets/js/expand-macro.js"></script>
</body>
</html>
#end
