#if($renderStart)
    <div ${idAttribute} class="confbox panel">
    #if($element.title)
        <div class="title panel-header">$stringEscapeUtils.escapeHtml($element.title)</div>
    #end
        <div class="panel-content">
#else
        </div>
    </div>
#end