#if($renderStart)
<p $idAttribute $classAttribute $styleAttribute
>#if ($element.ContentSize == 0 && $element.Parent.ContentSize == 1 && $element.Parent.Class.SimpleName ==
    "Cell")&nbsp;#end##Empty cells should have full height.
#else
</p>
#end