#if($renderStart)
    <div ${idAttribute} class="confbox programlisting">
        #if($element.title)
            <div class="title">$stringEscapeUtils.escapeHtml($element.title)</div>
        #end
        <div class="content">
        <pre><code>#else</code></pre>
        </div>
    </div>
#end