#if(!$element.isRowspanned() && !$element.isColspanned())
    #if($renderStart)
        <td ${idAttribute} ${classAttribute} rowspan="$element.rowspan" colspan="$element.colspan">
    #else
        </td>
    #end
#end