<div class="box-general box-warning">
  
    #if($params.icon)  
    <div class="box-content-noicon">
     #if($params.title)
      <strong>$params.title</strong> <br /><br />
      
      $body
      #else
      $body
      #end
    </div>
    #else
  
      <div class="box-icon icon-exclamation-triangle-inverted"> </div> 
    <div class="box-content"> 
       #if($params.title)
      <strong>$params.title</strong> <br /><br />      
      $body
      #else
      $body
      #end
    </div>
    #end
  
</div>