// DO NOT RESET THIS #ht-wrap-container

#ht-wrap-container {
  //width: 100%;
  position: absolute;
  left: 305px;
  right: 0px;
  min-height: 100%;
}


#ht-wrap-container {
  @include max-screen($mq-tablet) {
    z-index: 1;
    min-height: 100%;
    left: 0px;

    -webkit-box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.15);

    @include transition(transform 0.3s ease-in);
    @include translate(0px, 0px);

  }
}

#ht-wrap-container {
  @import 'ht-wrap-container/ht-sidebar-dragbar';
  @import 'ht-wrap-container/ht-content';
  @import 'ht-wrap-container/ht-post-nav';
  @import 'ht-wrap-container/ht-footer';
}