#ht-mq-detect {
  @import 'common/reset/reset';
}

#ht-mq-detect {
  width: 5px;

  @include max-screen($mq-desktop) {
    width: 4px;
  }

  @include max-screen($mq-tablet) {
    width: 3px;
  }

  @include max-screen($mq-tablet-portrait) {
    width: 2px;
  }

  @include max-screen($mq-mobile) {
    width: 1px;
  }
}