.sp-grid-float .sp-grid-20, .sp-grid-float .sp-grid-33, .sp-grid-float .sp-grid-40, .sp-grid-float .sp-grid-50, .sp-grid-float .sp-grid-60 {
  float: left;
}

.sp-grid-float .sp-grid-20 {
  width: 20%;
}

.sp-grid-float .sp-grid-33 {
  width: 33%;
}

.sp-grid-float .sp-grid-40 {
  width: 40%;
}

.sp-grid-float .sp-grid-50 {
  width: 50%;
}

.sp-grid-float .sp-grid-60 {
  width: 60%;
}

.sp-grid-float .sp-grid-section {
  padding-bottom: 10px;
  overflow: hidden;
}

.sp-grid-float .sp-grid-section:last-child {
  padding-bottom: 0px;
}

.sp-grid-float .sp-grid-section:after {
  display: table;
  content: " ";

}

.sp-grid-float .sp-grid-cell {
  padding-right: 20px;
  box-sizing: border-box;
}

.sp-grid-float .sp-grid-cell:last-child {
  padding-right: 0px;
  box-sizing: border-box;
}

.sp-grid-fluid .sp-grid-section {
  padding-bottom: 10px;
  overflow: hidden;
}

.sp-grid-fluid .sp-grid-section:last-child {
  padding-bottom: 0px;
}

.sp-grid-fluid .sp-grid-section:after {
  display: table;
  content: " ";

}

.sp-grid-fluid .sp-grid-cell {
  padding-bottom: 10px;
}

.sp-grid-fluid .sp-grid-cell:last-child {
  padding-bottom: 0px;
}