/* This file contains a subset of the AUI iconfont (atlassian-aui-adg-dist-f26920e2e1da) scoped to class 'sp' */

@font-face {
  font-family: "SP Atlassian Icons";
  src: url(../fonts/atlassian-icons.eot);
  src: url(../fonts/atlassian-icons.eot?#iefix) format("embedded-opentype"), url(../fonts/atlassian-icons.woff) format("woff"), url(../fonts/atlassian-icons.ttf) format("truetype"), url(../fonts/atlassian-icons.svg#atlassian-icons) format("svg");
  font-weight: normal;
  font-style: normal;
}

.sp-aui-icon-small {
  height: 16px;
  width: 16px;
}

.sp-aui-icon-small, .sp-aui-icon-large {
  line-height: 0;
  position: relative;
  vertical-align: text-top;
}

.sp-aui-iconfont-close-dialog:before {
  content: "\f11b";
}

.sp-aui-icon-small:before {
  font-size: 16px;
  margin-top: -8px;
}

.sp-aui-icon-small:before, .sp-aui-icon-large:before {
  color: inherit;
  font-family: "SP Atlassian Icons";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  left: 0;
  line-height: 1;
  position: absolute;
  text-indent: 0;
  speak: none;
  top: 50%;
}

.sp-aui-icon-small, .sp-aui-icon-large {
  line-height: 0;
  position: relative;
  vertical-align: text-top;
}

.sp-aui-iconfont-arrows-up:before {
  content: "\f109";
}

.sp-aui-icon-small, .sp-aui-icon-large {
  line-height: 0;
  position: relative;
  vertical-align: text-top;
}

.sp-aui-iconfont-delete:before {
  content: "\f122";
}

.sp-aui-iconfont-confluence:before {
  content: "\f11f";
  font-size: 18px;
}

.sp-aui-iconfont-approve:before {
  content: "\f104";
}

.sp-aui-iconfont-remove:before {
  content: "\f188";
}

.sp-aui-iconfont-appswitcher:before {
  content: "\f105";
}

.sp-aui-iconfont-group:before {
  content: "\f167";
}

.sp-aui-iconfont-editor-mention:before {
  content: "\f152";
}

.sp-aui-iconfont-user:before {
  content: "\f1ad";
}

.sp-aui-iconfont-flag:before {
  content: "\f165";
}
