/////**
////*
//* K15t Help Theme
//* Base Variables
//*
//**/


///*=======================================
//=            Color Variables            =
//=======================================*/
$color-text : #262626;

/* secondary color; used for links, svg-icons … */
$color-secondary: #205081;
$color-atlassian: #23517F;

$color-sidebar: #F5F5F5;
$color-lines: #CCCCCC;
$color-gray: #707070;


///*-----  End of Color Variables  ------*/

///*=========================================
//=            Content Variables            =
//=========================================*/

$content-maxwidth: auto;


///*-----  End of Content Variables  ------*/





///*=====================================
//=            Media Queries            =
//=====================================*/

$mq-mobile: 640px;
$mq-tablet-portrait: 800px;
$mq-tablet: 1024px;
$mq-desktop: 1440px;

///*-----  End of Media Queries  ------*/




///*=======================================
//=            Typo Variables            =
//=======================================*/

$font : 'Helvetica Neue', Arial, sans-serif;
