#if($renderStart)
<div ${idAttribute} class="box-general box-tip">
  
    #if($renderStart && !$element.DisplayIcon)  
        <div class="box-content-noicon">
        #if($params.title)
        <strong>$params.title</strong> <br /><br />
        #end      
    #end
    #if($renderStart && $element.DisplayIcon)    
        <div class="box-icon icon-light-bulb"> </div> 
        <div class="box-content"> 
        #if($params.title)
        <strong>$params.title</strong> <br /><br />       
        #end
    #end
#else ## render end
    
    </div>
</div>
#end