#if($renderStart)
    <div class="scroll-expand-container collapsed">
        <div class="scroll-expand-control">
            <span class="scroll-expand-control-icon">&nbsp;</span>
            <span class="scroll-expand-control-text">$stringEscapeUtils.escapeHtml($element.title)</span>
        </div>
        <div class="scroll-expand-content">
#else
        </div>
    </div>
#end