#if($renderStart)
#set($alttext = $stringEscapeUtils.escapeHtml($element.title))
<img ${idAttribute} ${classAttribute} 
        #if($element.Alignment)
                #if($element.Alignment.getHtmlCssFormattedValue() == "left")
                        style="float:left;"
                #elseif($element.Alignment.getHtmlCssFormattedValue() == "right")
                        style="float:right;"
                #elseif($element.Alignment.getHtmlCssFormattedValue() == "center")
                        style="display:block; margin-left: auto; margin-right: auto;"
                #end
        #end

        src="$stringEscapeUtils.escapeHtml($imageFilename)" 
        #if($element.title)alt="${element.title}"#end
        
        #if($element.width)width="$element.width"#end 
        #if($element.height)height="$element.height"#end />
#end