#if($renderStart)
    <div ${idAttribute} class="sp-panel conf-macro output-block">
    #if($element.title)
        <header>$stringEscapeUtils.escapeHtml($element.title)</header>
    #end
        <div class="panel-content">
#else
        </div>
    </div>
#end