#ht-spacetitle {
  @import '../../../common/reset/reset';
}

#ht-spacetitle {
  margin-bottom: 4px;

  li {
    list-style: none;
    font-size: 0.875em;
    display: inline;

    &:after {
      content: "/";
      margin-left: 3px;
    }

    &:last-child:after {
      content: "";
    }
  }
}