#ht-breadcrumb {
  @import '../../../common/reset/reset';
}

//.ht-content .ht-content-header #ht-breadcrumb {
#ht-breadcrumb {
  margin-bottom: 4px;

  li {
    list-style: none;
    font-size: 0.875em;
    display: inline;

    &:after {
      content: "/";
      margin-left: 3px;
    }

    &:last-child:after {
      content: "";
    }
  }
}

#ht-breadcrumb .shortcut {
  display: none !important;
}