<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>$space.name - $page.title</title>

        $include.template("/include/include-htmlhead.vm")

    </head>
    <body pageid="$page.id">

        ## Google Tag Manager
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TSQNPJN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        
        <div id="ht-loader"></div>
        $include.template("/include/include-headerbar.vm")

        <div id="ht-wrap-container">
            <div class="container">
                <div class="ht-layout">
                    <div class="ht-layout-sidebar">
                        $include.template("/include/include-sidebar.vm")
                    </div>
                    <div class="ht-layout-main">
                        $include.template("/include/include-error.vm")
                    </div>
                </div>
            </div>
        </div>

        $include.template("/include/include-footer.vm")


        <div>
            <div id="ht-mq-detect"></div>
        </div>
        
        ## cookie consent law banner
        $include.template("/include/include-cookiebanner.vm")
        $include.template("/include/include-bodyendscripts.vm")

    </body>
</html>