#set($PAGE_FILTER = [
    "sitemap.xml"
])#*
*##macro(processChildren $page)#*
    *##if (!$PAGE_FILTER.contains($page.title))#*
        *#<url>
    <loc>$page.absoluteLink</loc>
</url>
#end
    #foreach($child in $page.children)#*
        *##processChildren($child)
    #end
#end#*
*#<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    #processChildren($home)
</urlset>