
<meta name="description" content="Kentico Xperience Documentation">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">

## Custom Xperience Confluence meta information
<meta name="confluence-space-key" content="$space.key">
<meta name="confluence-page-title" content="$page.title">
<meta name="confluence-page-tiny-suffix" content="">
<meta name="confluence-page-labels" content="$page.labels">

## Theme stylesheets
<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes">


#if ($context.BuildSearchIndex)
    <link rel="stylesheet" href="assets/css/search.css">
#end

## Default Theme Stylesheets
<link rel="stylesheet" href="assets/css/theme.main.css">

<link rel="stylesheet" href="assets/css/theme.prismhighlighter.css">
## Lightbox 2.8.2 CSS (JS in include-bodyendscripts)
<link rel="stylesheet" href="assets/css/theme.lightbox.css">
## Snackbar (JS in include-bodyendscripts)
<link rel="stylesheet" href="assets/css/theme.snackbar.css">