
<aside id="ht-sidebar">
    #parse("com/k15t/scroll/scroll-webhelp-theme/scroll-html/include/include-space-switcher.vm")
    <div class="ht-sidebar-content">
        <div class="ht-sidebar-content-scroll-container">
            #parse("com/k15t/scroll/scroll-webhelp-theme/scroll-html/toc-links.vm")
        </div>
    </div>
</aside>