<div class="menu-ddl">
  	#if ($isSearch)
  		#set($versionDdlOpenFunction = "insertSearchVersionLinks()")
  	#else
  		#set($versionDdlOpenFunction = "insertVersionLinks(versionSwitcherData)")
  	#end
  	<button onclick="$versionDdlOpenFunction" class="header-ddl-button docVersion js-menuDdlBtn-version" title="Which Kentico Xperience version do you have?"></button>
  	<ul class="menu-ddl-content-main menu-ddl-content docVersion js-menuDdl-version">
	</ul>
</div>
<ul class="header-menu js-menuDdl-docType">
</ul>