	<div id="old-version-note" class="sidebar-left-padding">
		<div class="container">
			<p><strong>Is this really the version you are looking for?</strong> Kentico $space.key.toString() documentation is no longer updated. Use the switch in the header to choose your Kentico Xperience version.</p>
		</div>
	</div>