<footer id="ht-footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <ul class="footer-menu">
          <li>
            <a class="js-qa-link" href="https://devnet.kentico.com/questions-answers" target="_blank">Community Questions & Answers</a>
          </li>
          <li>
            <a class="js-support-link" href="https://devnet.kentico.com/support" target="_blank">Contact support</a>
          </li>    
        </ul>
      </div>
    </div>
  </div>
</footer>