
<script type="text/javascript" async>
    // Populates the documentation version switcher header
    // loadVersionLinkData is located in theme.custom.js
    $(window).on('load', loadVersionLinkData(CONFIG.CONFLUENCE_PAGE_TINYID));
</script>