  <div id="cookie-banner">
    <div class="container">
      <div class="inner">
        <div class="text">
          We use small cookies to improve your browsing experience and to analyze traffic. To process the analytical cookies, we need your consent.
          <br>You may revoke your consent on the <a href="https://xperience.io/policies/cookies-policy" target="_blank">Cookies Policy</a> 
          page or in your browser at any time.
        </div>
        <button type="submit" value="4" name="CookieLevelSelectedAll" class="button button--primary" onClick="setCookieLevel('analytical')">
          ACCEPT ALL
        </button>
        <button type="submit" value="1" name="CookieLevelSelectedNecessary" class="button button--tertiary" onClick="setCookieLevel('necessary')">
          Use only functional
        </button>
      </div>
    </div>
  </div>