<div class="search-reference">
    <div>
        <strong>Reference &amp; API</strong>
        <ul>
        	#if($space.key == "K8")
          		<li><a href="/macro-syntax">Macro syntax</a></li>
          		<li><a href="/reference-transformation-methods">Transformation methods</a></li>
           		<li><a href="/reference-macro-methods">Macro methods</a></li>
          	#elseif($space.key == "K81")
          		<li><a href="/reference-transformation-methods">Transformation methods</a></li>
          		<li><a href="/working-with-pages-in-the-api">Working with pages in the API</a></li>
           		<li><a href="/reference-page-type-properties">Page type properties</a></li>
          	#elseif($space.key == "K82")
          		<li><a href="/reference-transformation-methods">Transformation methods</a></li>
          		<li><a href="/working-with-pages-in-the-api">Working with pages in the API</a></li>
           		<li><a href="/reference-macro-methods">Macro methods</a></li>
          	#elseif($space.key == "K9")
          		<li><a href="/reference-transformation-methods">Transformation methods</a></li>
          		<li><a href="/macro-syntax">Macro syntax</a></li>
           		<li><a href="/reference-macro-methods">Macro methods</a></li>
          	#elseif($space.key == "K10")
          		<li><a href="/reference-transformation-methods">Transformation methods</a></li>
          		<li><a href="/macro-syntax">Macro syntax</a></li>
           		<li><a href="/reference-macro-methods">Macro methods</a></li>
          	#elseif($space.key == "K11")
          		<li><a href="/reference-transformation-methods">Transformation methods</a></li>
          		<li><a href="/macro-syntax">Macro syntax</a></li>
           		<li><a href="/reference-macro-methods">Macro methods</a></li>
            #elseif($space.key == "K12SP")
          		<li><a href="/macro-syntax">Macro syntax</a></li>
           		<li><a href="/reference-macro-methods">Macro methods</a></li>
         		<li><a href="/reference-web-config-application-keys">Web.config keys</a></li>
		    #elseif($space.key == "13")
          		<li><a href="/macro-syntax">Macro syntax</a></li>
           		<li><a href="/reference-macro-methods">Macro methods</a></li>
         		<li><a href="/reference-web-config-application-keys">Web.config keys</a></li>
			#elseif($space.key == "XP")
          		<li><a href="/reference-documentquery-methods">DocumentQuery methods</a></li>
           		<li><a href="/reference-xperience-tag-helpers">Xperience Tag Helpers</a></li>
         		<li><a href="/reference-configuration-keys">Application configuration keys</a></li>
           	#end
        </ul>
    </div>
    <div>
        <strong>Most searched</strong>
        <ul>
          	#if($space.key == "K8")
          		<li><a href="/creating-virtual-directories-and-application-pools-in-iis-7-5-and-7-0">Creating virtual directories and application pools in IIS 7.5 and 7.0</a></li>
          		<li><a href="/macro-expressions/">Macro expressions</a></li>
           		<li><a href="/creating-custom-tables">Creating custom tables</a></li>
          	#elseif($space.key == "K81")
          		<li><a href="/creating-page-types">Creating page types</a></li>
          		<li><a href="/setting-page-aliases">Setting page aliases</a></li>
           		<li><a href="/page-types">Page types</a></li>
          	#elseif($space.key == "K82")
          		<li><a href="/retrieving-database-data-using-objectquery-api">Retrieving database data using ObjectQuery API</a></li>
          		<li><a href="/managing-users">Managing users</a></li>
           		<li><a href="/server-and-hosting-requirements">Server and hosting requirements</a></li>
          	#elseif($space.key == "K9")
          		<li><a href="/server-and-hosting-requirements">Server and hosting requirements</a></li>
          		<li><a href="/developing-sites-using-asp-net-mvc">Developing sites using ASP.NET MVC</a></li>
          		<li><a href="/best-practices-for-customization">Best practices for customization</a></li>
          	#elseif($space.key == "K10")
          		<li><a href="/server-and-hosting-requirements">Server and hosting requirements</a></li>
          		<li><a href="/developing-sites-using-asp-net-mvc">Developing sites using ASP.NET MVC</a></li>
          		<li><a href="/best-practices-for-customization">Best practices for customization</a></li>
          	#elseif($space.key == "K11")
          		<li><a href="/server-and-hosting-requirements">Server and hosting requirements</a></li>
          		<li><a href="/creating-custom-modules">Creating custom modules</a></li>
          		<li><a href="/developing-sites-using-asp-net-mvc">Developing sites using ASP.NET MVC</a></li>
            #elseif($space.key == "K12SP")
          		<li><a href="/system-requirements">System requirements</a></li>        
          		<li><a href="/mvc-development-overview">MVC development overview</a></li>
          		<li><a href="/page-builder-development">Page builder development</a></li>
          	#elseif($space.key == "13")
          		<li><a href="/system-requirements">System requirements</a></li>        
          		<li><a href="/developing-xperience-applications-using-asp-net-core">ASP.NET Core development</a></li>
          		<li><a href="/mvc-development-overview">MVC development</a></li>
			#elseif($space.key == "XP")
          		<li><a href="/system-requirements">System requirements</a></li>        
          		<li><a href="/configure-new-projects">Configure new projects</a></li>
          		<li><a href="/xperience-managed-cloud-service">Xperience Cloud</a></li>
          	#end
        </ul>
    </div>
</div>