<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes">

## jQuery
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.scrollTo.min.js"></script>


## Translations
<script type="text/javascript" src="assets/js/translate.js"></script>

<script type="text/javascript" src="assets/js/theme.main.js"></script>

#if ($context.exportMode == "single-page")
    ## Scroll tree implementation
    <script type="text/javascript" src="assets/js/scroll-tree.js"></script>
#else
    <script type="text/javascript" src="assets/js/iframeResizer.min.js"></script>
#end

<link rel="stylesheet" href="assets/css/content-style.css">
#if ($context.BuildSearchIndex)
    <link rel="stylesheet" href="assets/css/search.css">
#end

## Default Theme Stylesheets
<link rel="stylesheet" href="assets/css/theme.main.css">
<link rel="stylesheet" href="assets/css/theme.colors.css">
