<div class="page-metadata">
##   <ul>
    <div class="page-metadata-modification-info">
     <a id="export-pdf" class="first-page-action-link page-metadata-export" href="#" download>
        <span>Save as PDF</span>
        <span class="page-metadata-export-icon icon-arrow-down-line"></span>
      </a>
      <span class="page-action-separator">|</span>
      <a id="get-page-link" class="page-metadata-copy" href="#" onclick="openPageLink($page.id)">
        <span>Copy page link</span>
        <span class="page-metadata-copy-icon icon-chain"></span>
      </a>
      </div>
##     </li>
##   </ul>

  <div id="page-link-panel">
    <div id="page-link-panel-inner">
      	#* Close button using Unicode Character 'HEAVY MULTIPLICATION X'(U+2716) *#
    	<a id="page-link-close" onclick="closePageLink()" href="#" title="Close page link panel">&#10006;</a>
    	<form>
       		<input id="page-link-textbox" type="text" readonly="readonly" autocomplete="off" onclick="this.select();">
          	<a id="copy-clipboard-link" onclick="copyPageLinkToClip()" href="#">Copy&nbsp;to&nbsp;clipboard</a>
		</form>
    	</div>
  </div>
</div>
