  #* Development model status icons for K12 versions - included on page metadata and actions *#
  #if (!$space.link.contains("/api") && $space.link.contains("/k12"))
  	#set($showDevModelIcons = true)
  	#if($page.labels.contains("mvc"))
    	#set($mvcIconClass = "far fa-check-circle dev-model-icon enabled")
    	#set($peIconClass = "far fa-times-circle dev-model-icon disabled")
    	#set($mvcLabelTooltip = "This page applies to the MVC development model")
    	#set($peLabelTooltip = "This page does not apply to the Portal Engine development model")
    #elseif($page.labels.contains("pe"))
    	#set($mvcIconClass = "far fa-times-circle dev-model-icon disabled")
    	#set($peIconClass = "far fa-check-circle dev-model-icon enabled")
    	#set($mvcLabelTooltip = "This page does not apply to the MVC development model")
     	#set($peLabelTooltip = "This page applies to the Portal Engine development model")
  	#elseif($page.labels.contains("all_models"))
    	#set($mvcIconClass = "far fa-check-circle dev-model-icon enabled")
      	#set($peIconClass = "far fa-check-circle dev-model-icon enabled")
      	#set($mvcLabelTooltip = "This page applies to all development models")
      	#set($peLabelTooltip = "This page applies to all development models")
  	#else
    	#set($showDevModelIcons = false)
  	#end
  	#if ($showDevModelIcons)
      <div class="dev-model-label-bar">Development model:
          <span class="dev-model-label" title="$mvcLabelTooltip">          	  
              <i class="$mvcIconClass"></i>MVC
          </span>
      	  <span class="dev-model-label" title="$peLabelTooltip">          	  
              <i class="$peIconClass"></i>Portal Engine
          </span>
      </div>
  	#end
  #end