## Dev model switcher only available for versions 12 or newer, hidden for API examples
#if ($space.link.contains("/k12") && !$space.link.contains("api"))
  <div class="menu-ddl">
  	<button onclick="openCloseDevModelDdl()" class="header-ddl-button docVersion js-menuDdlBtn-devModel" title="Which development model do you use?"></button>
  	<ul class="menu-ddl-content-main menu-ddl-content docVersion js-menuDdl-devModel">
      <li>
        <a href="#" class="dev-model-link js-mvc-model-link" >MVC</a>
      </li>
      <li>
        <a href="#" class="dev-model-link js-pe-model-link">Portal Engine</a>    
      </li>
    </ul>
    <div class="menu-ddl-tooltip js-dev-model-unavailable-text"></div>
  </div>

#end