#if ($space.key.toLowerCase().contains("tutorial"))
	#set($searchPlaceholderSuffix = "tutorial")
#elseif ($space.key.toLowerCase().contains("api"))
    #set($searchPlaceholderSuffix = "examples")
#else
    #set($searchPlaceholderSuffix = "docs")    
#end

<header id="ht-headerbar">
    <div class="container">
        <div class="ht-headerbar-row">
            <div class="ht-headerbar-left">
                <button class="menu-toggle button button--icon-only js-menu-toggle" type="button" title="Open menu">
                    <span class="menu-toggle-icon menu-toggle-icon--default icon-menu"></span>
                    <span class="menu-toggle-icon menu-toggle-icon--active icon-modal-close"></span>
                    <span class="menu-toggle-label menu-toggle-label--default sr-only">Open menu</span>
                    <span class="menu-toggle-label menu-toggle-label--active sr-only">Hide menu</span>
                </button>
                <a href="${space.link}" class="xperience-logo">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Xperience Docs" class="xperience-logo__image">
                </a>
            </div>
            <div class="ht-headerbar-center">
                $include.template('include/include-space-switcher.vm')
            </div>  
            <div class="ht-headerbar-right">
            
                #if(!$isSearch && ($page.parent || ($statusCode != 200) || ($space.key.toLowerCase().contains("tutorial") || $space.key.toLowerCase().contains("api"))))
                <div id="ht-search" class="header-search-box open show js-header-search-box">
                    #set($search = "/search")
                    #if ($stringUtils.equals(${viewport.link}, "/") == false)
                        #set($search = "${viewport.link}/search")
                    #end
                    <div class="ht-search-input header-search-wrapper">
                        <form class="header-search" action="$search" method="GET" id="search">
                            <div class="header-search-field">
                                <span class="header-search-field__icon icon-magnifier"></span>
                                <input class="header-search-field__input search-input" type="text" placeholder="Search the $searchPlaceholderSuffix" tabindex="-1" autocomplete="off" name="q" value="">
                            </div>
                            <div class="header-search-button-wrapper">
                                <button id="searchButton" class="header-search-button button button--secondary" type="submit">Search</button>
                            </div>
                        </form>
    
                        <div class="ht-search-dropdown ht-dropdown header-search-dropdown">
                            <ul></ul>
                        </div>
                    </div>

                    <button class="ht-search-close button button--icon-only js-header-search-close" type="button" title="Close search">
                        <span class="icon-modal-close"></span>
                        <span class="sr-only">Close search</span>
                    </button>
                </div>

                <button class="ht-search-open button button--icon-only js-header-search-open" type="button" title="Open search">
                    <span class="icon-magnifier"></span>
                    <span class="sr-only">Open search</span>
                </button>
                #end

                #if($isPage && $user.loggedIn)
                <a id="sp-viewport-control-opener" href="#" class="sp-aui-icon-small sp-aui-iconfont-confluence ht-header-icon ht-confluence-button"></a>
                #else
                <a id="sp-viewport-control-opener" href="#" style="display:none"></a>
                #end
            </div>
        </div>
    </div>
</header>