<div class="switch js-dev-model-switch is-hidden" title="Switches the page content to be suitable for the ASP.NET Core or ASP.NET MVC 5 development models. Only applies to the currently displayed page. Other pages in the documentation may not provide content for both development models.">
    <form class="switch-form js-switch-form">
        <label class="switch-label">
            <input type="radio" name="dev-model" class="switch-input sr-only js-dev-model-switch-core" value="core" />
            <span class="switch-labelText">Core</span>
        </label>
        <div class="switch-indicator js-dev-model-switch-indicator"></div>
        <label class="switch-label">
            <input type="radio" name="dev-model" class="switch-input sr-only js-dev-model-switch-mvc" value="mvc" />
            <span class="switch-labelText">MVC 5</span>
        </label>
    </form>
</div>