#if ($space.link.contains("/k8"))
	#if ($space.link.contains("/k81"))
		#set($currentVersion = 8.1)
	#elseif ($space.link.contains("/k82"))
  		#set($currentVersion = 8.2)    
  	#else
  		#set($currentVersion = 8)
 	#end
#elseif ($space.link.contains("/k9") || $space.link.contains("/api9"))
	#set($currentVersion = 9)
#elseif ($space.link.contains("/k10") || $space.link.contains("/api10"))
  #set($currentVersion = 10)
#elseif ($space.link.contains("/k11") || $space.link.contains("/api11"))
  #set($currentVersion = 11)
#else
  #set($currentVersion = -1)
#end
  
#if ($currentVersion >= 0)
	<div id="old-version-note" class="sidebar-left-padding">
		<div class="container">
			<p><strong>Is this really the version you are looking for?</strong> Kentico $currentVersion.toString() documentation is no longer updated. Use the switch in the header to choose your Kentico Xperience version.</p>
		</div>
	</div>
#end