<aside id="ht-sidebar">
    $include.template('include/include-space-switcher.vm')
    <div class="ht-sidebar-content">
        <div class="ht-sidebar-content-scroll-container">
            <nav class="ht-pages-nav">
                <ul class="ht-pages-nav-top"
                    data-viewport-id="$viewport.id"
                    data-confluenceid="$space.home.id"
                    data-root="$tree.root.link"
                    data-current="$page.link"
                    data-currenttitle="$page.title">
                </ul>
            </nav>
        </div>
    </div>
</aside>