<div id="ht-breadcrumb">
  <ul>
    <li><a href="$home.link">$space.name</a></li>
    #foreach($ancestor in $page.ancestors)

    ## exclude home page
    #if($velocityCount > 1) 
    <li><a href="$ancestor.link">$ancestor.title</a></li>
    #end
    #end
  </ul>
</div>