#ht-footer {
  @import '../common/reset/reset';
}

#ht-footer {
  max-width: $content-maxwidth;
  margin: 0px 40px 12px 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;

  @include max-screen($mq-tablet) {
    margin: 0px 40px 12px 32px;
  }

  @include max-screen($mq-mobile) {
    margin: 0px 19px 12px 19px;
  }

  small {
    font-size: 0.7em;
    max-width: 75%;
  }

  a {
    text-decoration: underline;
  }

  #ht-jump-top {
    display: none;
    float: right;

    margin-top: -4px;

    &:before {
      font-size: 24px;
    }
    &:hover {
      text-decoration: none;
    }
  }

}