#ht-post-nav {
  @import '../common/reset/reset';
}

#ht-post-nav {
  font-size: 0.875em;
  padding: 0px 40px 112px 30px;
  max-width: $content-maxwidth;

  svg {
    width: 14px;
    height: 14px;
    float: left;

  }

  span {
    float: left;
    padding-bottom: 5px;
  }

  .ht-post-nav-next {
    float: right;
    text-align: right;

    span {
      float: right;
    }

    svg {
      float: right;
    }
  }

  a {
    display: inline-block;
    width: 33%;

    span {
      width: 90%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }

    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }

  @include max-screen($mq-mobile) {
    font-size: 24px;
    padding: 0px 16px 72px 16px;
    margin-bottom: 48px;

    .ht-post-nav-prev {
      padding: 10px 0px 10px 0px;
    }

    .ht-post-nav-next {
      padding: 10px 0px 10px 0px;
    }

    a {
      span {
        width: 65%;
        display: none;
      }
    }

  }

}
