// DO NOT RESET THIS #ht-content

.ht-content {
  padding: 72px 40px 60px 30px;
  max-width: $content-maxwidth;

  img {
    max-width: 100%;
  }

  @include max-screen($mq-tablet) {
    padding: 72px 32px 60px;
    margin: 0 auto;
  }

  @include max-screen($mq-mobile) {
    padding: 72px 16px 60px;
  }

  @import 'ht-content/ht-content-header';

  @import 'ht-content/main-content';

  @import 'ht-content/ht-search-results';
}