@import 'import/theme.base';
@import 'import/common/reset/reset-min';
@import 'import/common/media-queries';
@import 'import/common/mixin';


/* --- LOADER ------------------------------------------------------------------------------------------------------- */
@import 'import/ht-loader';

/* --- HEADER ------------------------------------------------------------------------------------------------------- */
@import 'import/ht-headerbar';

/* --- SIDEBAR ------------------------------------------------------------------------------------------------------ */
@import 'import/ht-sidebar';

/* --- WRAP-CONTAINER ----------------------------------------------------------------------------------------------- */
@import 'import/ht-wrap-container';

/* --- MEDIA-QUERY-DETECTION ---------------------------------------------------------------------------------------- */
@import 'import/ht-mq-detect';

/* --- GRID --------------------------------------------------------------------------------------------------------- */
@import 'import/sp-grid';

/* --- ICONS -------------------------------------------------------------------------------------------------------- */
@import 'import/sp-aui-icon';


/* PAGES */
/*=====================================
=            Error Page               =
=======================================*/

.ht-error-page h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 800;
}

.ht-error-page h3 {
  font-size: 30px;
}

.ht-error-page-search {
  margin-top: 60px;
}

.ht-error-page-search-input .search-input {
  height: 36px;
  width: 240px;
  border: 1px solid rgba(0, 0, 0, 1);
  font-size: 14pt;
  padding-left: 10px;
}